* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-top: 12px;
}

b, .l1 {
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    text-align: center;
}

.l1 {
    color: hsl(0, 0%, 59%);
}

header {
    margin-top: -20px;
    text-align: center;
    border-bottom: rgb(248, 248, 248) solid 1px;
    padding-bottom: 20px;
}
    
body {
    background: url(../images/bg-pattern-bottom.svg) bottom -800px right -350px no-repeat, url(../images/bg-pattern-top.svg) top -500px left -400px no-repeat;
    background-color: hsl(185, 75%, 39%);
    color: hsl(0, 0%, 59%);
    font-size: 13px;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    box-sizing: border-box;
    background-color: white;
    width: clamp(320px, calc(50vh - 100px), 400px);
    height:320px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 10px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.45);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.45);
}

.top {
    display: flex;
    background-image: url(../images/bg-pattern-card.svg);
    background-size: cover;
    height: 35%;
    background-color: hsl(185, 75%, 39%);
    border-radius: 10px 10px 0 0;
   
}


h3{
    color: hsl(229, 23%, 23%);
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: block;
    margin: auto;
    border: 8px solid white;
    transform: translateY(-40%);
}

.xtf {
    width: 100%;
    background-image: url('..images/bg-pattern-card.svg');
    border-radius: 10px 0;
    background-size: 50px;
}

.statsList{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.statsItem{
    text-align: center;
    width: 33%;
}
@media (max-width: 600px) {
    .card {
        width: 60%;
        height: 80%;
    }
}